* {
    margin : 0;
    padding: 0;
}

.Form {
    height          : 500px;
    width           : 400px;
    background-color: #FFFFFF;
    border-radius   : 25px;

    h1 {
        color      : black;
        text-align : center;
        font-family: roboto 500;
        opacity    : 0.8;
    }

    .inputUP {
        text-align : center;
        font-family: 'open sans', sans-serif;
        margin-top : 20px;


        .control {
            position: relative;

            .far.fa-eye,
            .far.fa-eye-slash {
                position: absolute;
                right   : 42px;
                top     : 4px;
                color   : black;
                cursor  : pointer;
            }

        }

        input:focus {
            box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
            outline   : none;
        }

        input {
            width         : 80%;
            box-sizing    : border-box;
            border        : none;
            font-size     : 1.3rem;
            padding-left  : 1.5rem;
            padding-bottom: 1rem;
            box-shadow    : inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
            transition    : box-shadow 0.2s ease-in;
        }

        input::-webkit-input-placeholder {
            opacity   : 1;
            transition: opacity 0.25s ease-out;
        }

        input:hover::-webkit-input-placeholder,
        input:focus::-webkit-input-placeholder {
            opacity: 0;
        }

        button {
            border-radius: 25px;
            width        : 80%;
            height       : 40px;
            font-size    : 1.3rem;
            color        : white;
            font-weight  : 700;
            background   : rgb(34, 193, 195);
            background   : linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            border       : 0px;
            cursor       : pointer;
            transition   : opacity 0.25s ease-out;
        }

        button:hover {
            opacity: 0.8;
        }

        label {
            font-size  : 20px;
            align-self : start;
            margin-left: -147px !important;
            color      : rgba(187, 187, 187, 0.9);
        }
    }

    .siwith {
        margin-top : 35px;
        font-size  : 20px;
        align-self : start;
        margin-left: 143px !important;
        color      : rgba(187, 187, 187, 0.9);
    }

    .icon {
        display        : flex;
        justify-content: space-evenly;
        margin-top     : 30px;

        .fb {
            background-size  : cover;
            background-image : url('../assets/images/fb.png');
            background-repeat: no-repeat;
            width            : 3rem;
            height           : 3rem;
        }

        .email {
            background-size  : cover;
            background-image : url('../assets/images/email.png');
            background-repeat: no-repeat;
            width            : 3rem;
            height           : 3rem;
        }

        .tw {
            background-size  : cover;
            background-image : url('../assets/images/tw.png');
            background-repeat: no-repeat;
            width            : 3rem;
            height           : 3rem;

        }
    }





}