.App-header {
  background: linear-gradient(135deg, rgb(81, 202, 10) 0%, rgb(13, 126, 201) 100%);
  ;
  min-height     : 100vh;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  font-size      : calc(10px + 2vmin);
  color          : white;
}